# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ACCESS_TOKEN=

# -----------------------------------------------------------------------------
# Database (Cloudflare - D1)
# -----------------------------------------------------------------------------
DATABASE_URL="file:./dev.db"
# -----------------------------------------------------------------------------
# Email (Postmark)
# -----------------------------------------------------------------------------
SMTP_FROM="from@example.com"
POSTMARK_API_TOKEN="your-postmark-api-token"
POSTMARK_SIGN_IN_TEMPLATE="your-postmark-sign-in-template"
POSTMARK_ACTIVATION_TEMPLATE="your-postmark-activation-template"


# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY="your-stripe-api-key"
STRIPE_WEBHOOK_SECRET="your-stripe-webhook-secret"
STRIPE_PRO_MONTHLY_PLAN_ID="your-stripe-pro-monthly-plan-id"
